################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignments/Assignment2/.vs/Assignment2/v15
/Assignments/Assignment3/.vs/Assignment3/v15
